<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1>- <h3>anhos</h3> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt numquam iusto animi mollitia corporis maxime officia, suscipit fugiat, amet consectetur corrupti itaque odio ab fuga, modi ipsam alias temporibus cumque iste laudantium ea voluptatibus! Animi cum odio eum similique dignissimos qui deserunt voluptatum reiciendis ratione.</p>
                
            </li>
            <li>
                <h1>Trabajo 2</h1>- <h3>anhos</h3> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt numquam iusto animi mollitia corporis maxime officia, suscipit fugiat, amet consectetur corrupti itaque odio ab fuga, modi ipsam alias temporibus cumque iste laudantium ea voluptatibus! Animi cum odio eum similique dignissimos qui deserunt voluptatum reiciendis ratione.</p>
                
            </li>
            <li>
                <h1>Trabajo 3</h1>- <h3>anhos</h3> 
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt numquam iusto animi mollitia corporis maxime officia, suscipit fugiat, amet consectetur corrupti itaque odio ab fuga, modi ipsam alias temporibus cumque iste laudantium ea voluptatibus! Animi cum odio eum similique dignissimos qui deserunt voluptatum reiciendis ratione.</p>
                
            </li>
        </ul>
    </div>

</div>