
    <div class="row">
        <div class="col-xs-12  col-sm-2 col-md-2 col-lg-2"> "  >
            <img src="../../../assets/perfil-foto.jpg" class="img-fluid" id="fotoPerfil" alt="">
        </div>
        <div class="col-xs-12  col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p>Full Stack Developer Jr</p>
            
        </div>    
        <div class="col-xs-12  col-sm-8 col-md-8 col-lg-8  caract">
            <span>
                <h1>Acerca de mi </h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione, similique accusamus quo error, aliquam inventore vel velit, obcaecati adipisci doloribus quos cumque eius dolorum sint fuga officia ducimus dignissimos id architecto ipsa mollitia soluta. Quae, optio esse? Corrupti natus rem esse maiores totam dolor earum, suscipit impedit facilis, error culpa facere vitae quibusdam aperiam doloribus vel eos atque reiciendis hic.</p>
            </span>
        </div> 
    </div>
    
